body {
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
}

.new-home {
  padding-top: 20px;
}

* {
  box-sizing: border-box;
}

.bodyContainer2 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.myImg {
  height: 220px;
  width: 220px;
  border-radius: 50%;
}

.myName {
  font-weight: 700;
}
.socialIcons {
  display: flex;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid var(--text-color);
  margin: 0 10px;
  box-shadow: 0px 0px 4px #00000027;
  transition: 0.3s;
}

.social-button:hover {
  box-shadow: 0px 0px 6px 3px #00000027;
}

.social-buttons svg {
  transition: 0.3s;
  height: 20px;
}

.github svg {
  width: 25px;
  height: 25px;
  fill: var(--maintext-color);
}

.github:hover svg {
  fill: var(--text-color);
}

.linkedin svg {
  fill: var(--maintext-color);
}

.linkedin:hover svg {
  fill: var(--text-color);
}

.instagram svg {
  fill: var(--maintext-color);
}

.instagram:hover svg {
  fill: var(--text-color);
}

.button {
  position: relative;
  padding: 10px 20px;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  cursor: pointer;
  font-size: 1.1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.2s ease;
}
.button:hover {
  background: var(--text-color);
  transition: all 0.2s ease;
  color: var(--hovertext-color);
}

.button:active {
  transform: scale(0.96);
}

@media screen and (max-width: 450px) {
  .bodyContainer2 {
    width: 100vw;
  }

  .myImg {
    height: 220px;
    width: 220px;
  }

  .social-buttons {
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: 20px;
  }

  .button {
    border: 1px solid var(--text-color);
    padding: 10px 20px;
    font-size: 1.2em;
    font-weight: 600;
    transition: all 0.2s ease;
  }

  .new-home {
    padding-bottom: 100px;
  }
}

@media (min-width: 768px) {
  .myImg {
    height: 60vh;
    width: auto;
  }
}

@media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
  .social-buttons {
    margin: 0;
  }

  .myImg {
    height: 180px;
    width: 180px;
  }
}

@media (min-width: 480px) and (max-width: 1336px) {
  .bodyContainer2 {
    width: 100vw;
  }

  .myImg {
    height: 250px;
    width: 250px;
  }

  .social-buttons {
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
}

.Intro {
  padding: 0px 10px;
}
